body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

#products .product {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

#cart {
    background-color: #f4f4f4;
}

button {
    background-color: #430ae0;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5506e7;
}